#--add-package {
    border: 1px solid #ccc;
    background-color: #e9d1ff;
    padding: 1rem;
    box-shadow: 3px 3px 24px -7px rgba(0, 0, 0, 0.5);
    border-radius: 18px;
    color: #aa01d4;
    font-size: 2rem;
}