<div class="container my-2">
  <div class="row">
    <div class="col-6 col-md-3 col-lg-4" *ngFor="let pack of (packagesList | async)?.packages">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title> {{pack.title}} </mat-card-title>
          <mat-card-subtitle>{{pack['pack-large']}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Exchanges : <span class="--exchages">{{pack.exchanges.length}}</span> </p>
        </mat-card-content>
        <mat-chip-list>
          <mat-chip color="primary" selected class="cursor" 
          (click)="navigateToCat(1, pack._id)">مواصلات</mat-chip>
          <mat-chip color="primary" selected class="cursor" 
          (click)="navigateToCat(2, pack._id)">هدية</mat-chip>
          <mat-chip color="primary" selected class="cursor" 
          (click)="navigateToCat(3, pack._id)">تسوق</mat-chip>
          <mat-chip color="primary" selected class="cursor" 
          (click)="navigateToCat(4, pack._id)">عطاء</mat-chip>
        </mat-chip-list>
        <mat-card-actions>
          <button mat-button  [routerLink]="['/exchange', pack._id]">Exchange</button>
          <button mat-button [routerLink]="['/exchange/exchanges', pack._id]">Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>