
#--signup-container{
    display: flex;
    margin: 0 auto;

    .row {
        width: 100%;
    }
    form {
        display: flex;
        flex-direction: column;
        width:100%;
        
        & > .row > div {
            margin: .5rem 0rem;
            text-align: right;

            label{
                display: block;
            }
        }
    }
}